@charset "utf-8";
* {
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    margin:0;
    padding:0;
}
#sortable {
    list-style-type: none;
    margin-left:auto;
    margin-right:auto;
}
#sortable li {
    float: left;
    width: 33%;
}
#sortable li img {
    vertical-align:bottom;
    width: 100%;
    height: auto;
}
@media (orientation:landscape){ #sortable {width:100vh;}}
@media (orientation:portrait) { #sortable {width:100%;}}
