@charset "utf-8";
.calculadora {
    width: 90%;
    margin: auto;
    max-width: 800px;
    min-width: 500px;
}
.operaciones {
    width:25%;
    min-width: 400px;
    margin: 0px;
    padding:0px;
}
#oper_val {
    font-weight: bold;
    color:green;
}
#num {
    width: 75%;
}
