@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Rubik:700');
html {
    position: relative;
    min-height: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
    background: rgb(240,249,255);
    background: -moz-linear-gradient(top,  rgba(240,249,255,1) 0%, rgba(203,235,255,1) 47%, rgba(161,219,255,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%);
    background: linear-gradient(to bottom,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 );
    margin:0px;
    padding-bottom: 2em;
}
footer {
    height: 1em;
    width: 100%;
    position:fixed;
    bottom: 0px;
    background-color: #cceeff;
    padding-bottom: 5px;
}
.inline {
    display: inline;
}
.vam {
    vertical-align: middle;
}
.clear {
    clear: both;
}

/** Navegación */
.navbar{
    border: none;
    background-color: #cceeff;
    font-family: 'Rubik', sans-serif;
}
.nav-header {
    display:inline;
    float:left;
    padding-left: 2em;
}
.nav-header a{
    text-decoration: none;
    padding:0.5em;
    color:black;
}
.navbar ul {
    list-style-type:none;
    margin:0;
    padding:0;
    display:flex;
    flex-direction: row;
}
.navbar ul li {
    flex-grow: 1;
}
.navbar ul li a {
    display:block;
    padding:1em;
    background-color:#b84d45 ;
    text-align:center;
    margin-right:0.2em;
    text-decoration:none;
    color:white;
}
.navbar ul li:last-of-type a {
    margin-right:0;
    border-radius: 0px 0px 10px 0px;
}
.navbar ul li:first-of-type a {
    border-radius: 0px 0px 0px 10px;
}
.navbar ul li a:hover {
    background-color:LightCoral;
    color:rgba(255, 255, 255, 0.5);
}
.page-header {
    margin-top:0.5em;
    display:block;
    background-color: #b84d45;
    padding-left: 2em;
    color: rgba(255, 255, 255, 0.5);
    padding-top:0.5em;
    padding-bottom:0.5em;
}
.page-header h1 {
    color:white;
    margin:0px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.page-header p {
    margin:0px;
    margin-bottom: 0.75em;
}

/** Secciones */
.tit-entrada {
    font-family: 'Rubik', sans-serif;
    font-size: 2em;
    display:block;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    margin:0px;
    border-bottom: 1px solid black;
}
.body-entrada {
    padding-bottom: 0.25em;
}
.container {
    margin: auto;
    width: 80%;
    border-radius: 5px;
    margin-top: 1em;
    padding-left:0.25em;
    padding-right: 0.25em;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    background-color:white;
}
iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:560px;
    width: 100%;
}
.img{
    vertical-align: middle;
    border:3px solid grey;
    border-radius: 25px;
    margin-top:0.25em;
    margin-right:0.5em;
    padding:0.25em;
    background-color: rgba(0,0,0,0.1);
    max-width: 300px;
    max-height: 300px;
}
.body-entrada .img:last-of-type {
    margin-right: 0px;
}
