@charset "utf-8";
.zona{
    background-color: lightblue;
    padding:1em;
    border-radius: 10px;
}
.display {
    text-align: center;
    font-size: 3em;
}
.disableSelection{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
}